body{
    height: 100vh;
}

.section1{
    background-color:  #7C3030;   
}

.section2{
    background-color: #7C3030;
    display: flex;
    justify-content: space-around;
    
    
}
#sec-it1{
    width: 40%;
}

.section3{
    background-color: #f5dcaf;
}
.sec2-btn, .sec3-btn{
    background-color: #7C3030;
    padding: 15px ;
    border-radius: 45px;
    /* border: 2px;
    border-style: solid; */
    border-color:aliceblue;
    width: 150px;
    font-size: larger;
    font-weight: bold;
    /* transition: background-color 0.3s, color 0.3s; */

}
.sec2-btn:hover{
    background-color: #f5dcaf;
    color: black !important;
}

.col-3{
    align-items: center;
}
.itl, .price{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.item-card{
    transition: all 0.3s;
}
.item-card:hover{
    transform: scale(1.15);
    background-color: #923c3c;
    border-radius: 10px;
}